html  {
  background-color: white;
}
header {
  background-color: #f5e318;
  padding: 0.1em ;
  margin: .3em 0em .3em 0em;
}
h1 {
  text-align: center;
  font-weight: normal; /* normal, bold */
  font-size: 2.2rem; /* 16 is normal font */
  font-style: none; /* normal, italic */
  text-decoration: none; /* underline, line-through */
  font-family: 'Sigmar One', Georgia;
  line-height: 0.5;
  color: #bd1a3c;
}

h2{
  font-family:'Sigmar One', Georgia;
  color:#bd1a3c;
  border-top: solid .2rem;
  border-color: #f5e318;
}

h3{
font-family:'Sigmar One', Georgia;
color:#bd1a3c;
}

li {
  font-weight:normal;

}
ul {
    list-style-type: lower-roman;
  }
  figcaption{
    font-style: italic;
    color: black;
  text-align:center;
  font-size:.8rem;
  }
}
ol {
  list-style-type: none;
  padding: 0;
}

.cele {
  color: darkorange;
}

.rounded{
  color: darkorange;
}

a{
  color: white;
  background-color: grey;
}

a:hover {
  background-color: #bd1a3c;
}

p{
  font-family: Georgia;
  font-size: .8rem;
  color:black;
}

blockquote{
  font-style: italic;
  line-height: .9;
color:#f5e318;
font-family: Georgia;
font-size:.8rem;
text-align: center;
padding: 1em 0em 0em 0em;
}


footer {
  text-align: right;
  font-size: .8rem;
  color:grey;
}

dt {
  font-weight:bold;
  font-family: Georgia;
  font-size: .8rem;
  margin: 0.5em 0em 0em 0em;
}

dl{
  margin: 0em;
}

dd{
font-size: .8rem;
padding: 0em;
margin: .5em;
font-family: Georgia;
}

.quote {
  font-size: 1.5rem;
  font-family:arial; serif;
  text-align: right;
}

nav{
  background-color: #f5e318;
  text-align: center;
}

nav li{
  display: inline-block;
  padding: 0.5em;
}

nav a{
  display: inline-block;
  padding:.3em;
  background-color: grey;
  color: white;
  margin: 0em -.5em;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.0rem;
}

nav ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img{
  width: 100%

}

figure{
  border: 2px solid yellow;
  padding: .7em;
  border-radius: 7px;
  background-color:lightyellow;
}

.src{
  background-color: black;
padding:0em 1em;
margin:0em;
}

footer{
background-color: #f5e318;
text-align: center;
padding: .3em;
}

.list{
  margin: 0.1em;
  background-color: #f5e318;
}

.quote{
  font-size:.9rem;
  font-family: Georgia;
}

.per{
font-style:italic;
font-family: Georgia;
font-size: .8rem;
}
